# Backend
backend/node_modules/
backend/.nitro/
backend/.output/
backend/.data/
backend/dist/
backend/npm-debug.log

# Frontend
frontend/build/
frontend/.dart_tool/
frontend/pubspec.lock

# General
.DS_Store
.env
.idea
*.log
soft
build
firmware/build-idf6/
firmware/managed_components/
