DATABASE_URL="postgresql://smart_admin:smart_admin@localhost:5432/smart_light"
JWT_ACCESS_SECRET="change-me-access-secret"
JWT_REFRESH_SECRET="change-me-refresh-secret"
JWT_ACCESS_EXPIRES="15m"
JWT_REFRESH_EXPIRES="30d"

//почта вход
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM="Smart Light <onboarding@resend.dev>"

//убрать сген строку
EMAIL_CODE_SECRET=
VERIFICATION_DELIVERY="console"